* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('background_image.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  header {
    text-align: center;
    margin: 20px;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .stage {
    width: 80%;
    max-width: 600px;
    background-color: #e1e1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .stage:hover {
    transform: scale(1.05);
  }
  
  footer {
    margin-top: 20px;
  }
  
  
  .title-container {
    display: inline-block;
    padding: 20px;
    background-color: #8cff83; /* 네모난 박스의 배경색 */
    border-radius: 8px; /* 모서리를 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    margin-bottom: 10px; /* 제목과 아래 텍스트 간의 간격 */
  }
  
  .title-container .titletext {
    margin: 0;
    font-size: 2rem;
    color: #ffffff; /* 제목 텍스트 색상 */
  }
  
  .subtext {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #ffffff; /* 보조 텍스트 색상 */
  }
  
  
  .highlight-text {
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .subtext {
    position: relative;
    top: -37px;
    font-size: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-container button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
